<html>
    <head>
        <link rel="icon" type="image/png" href="<%= extra.faviconlink %>"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link href="/assets/default/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title><%= extra.dashboard.title %></title>
    </head>
    <body>
        <ul style="overflow: hidden;" class="ul">
            <li style="float:left; margin-top: 12px; margin-left: 10%;"><a href="/" style="font-family: 'Rubik', sans-serif; font-size: 25px"><%= extra.home.name %></a></li>
            <li style="float:right; margin-right: 20%" class="li">
                <a href="<%= userinfo ? "/logout" : "/login"%>"><i class="fa fa-<%= userinfo ? "sign-out": "fw fa-user" %>" style="color: gray; margin-top: 10px;"></i></a>
            </li>
        </ul>
        <h2 style="margin-left: 5%; margin-top: 50px;">Your Account</h2>
        <% if (req.session.newaccount) { %>
            <div class="alert">
                <span class="closebtn">&times;</span>  
                A new account has been created for you on the Pterodactyl Panel.<br>
                Please check your email to set your password.
            </div>
            <script>
                let close = document.getElementsByClassName("closebtn");
                let i;
                
                for (i = 0; i < close.length; i++) {
                  close[i].onclick = function(){
                    let div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                  }
                }
            </script>
        <% } %>
        <h4 style="margin-left: 5%;">Panel Link: <a href="/panel" style="color: #9DBCDA"><%= settings.pterodactyl.domain %></a></h4>
        <div style="margin-left: 5%; margin-top: 10px; width: 80%; margin-bottom: 10px">
            <br>
            <h4 style="margin-left: 5%;">Email</h4>
            <input value="<%= pterodactyl.email %>" style="margin-left: 5%;" disabled>
            <h4 style="margin-left: 5%;">Username</h4>
            <input value="<%= pterodactyl.username %>" style="margin-left: 5%;" disabled>
            <br><br><br><br>
        </div>
        <h2 style="margin-left: 5%;">Plan</h2>
        <button class="button" style="margin-left: 5%; width: 80%;" onclick="window.location.href='/servers'">View your servers.</button>
        <br><br>
        <%
            let ram = 0;
            let disk = 0;
            let cpu = 0;
            let servers = pterodactyl.relationships.servers.data.length;
            for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                ram = ram + pterodactyl.relationships.servers.data[i].attributes.limits.memory;
                disk = disk + pterodactyl.relationships.servers.data[i].attributes.limits.disk;
                cpu = cpu + pterodactyl.relationships.servers.data[i].attributes.limits.cpu;
            }
        %>
        
        <div class="row" style="background-color: transparent; margin-left: 5%; width: 80%;">
            <div class="column" style="background-color: transparent;">
                <div class="card">
                    <h3>RAM</h3>
                    <p><code><%= ram %>MB</code> / <code>maxMB</code></p>
                    <progress value="50" max="100" style="width: 100%;"></progress>
                </div>
            </div>
            <div class="column" style="background-color: transparent;">
                <div class="card">
                    <h3>Disk</h3>
                    <p><code><%= disk %>MB</code> / <code>maxMB</code></p>
                    <progress value="50" max="100" style="width: 100%;"></progress>
                </div>
            </div>
            <div class="column" style="background-color: transparent;">
                <div class="card">
                    <h3>CPU</h3>
                    <p><code><%= cpu %>%</code> / <code>max%</code></p>
                    <progress value="50" max="100" style="width: 100%;"></progress>
                </div>
            </div>
            <div class="column" style="background-color: transparent;">
                <div class="card">
                    <h3>Servers</h3>
                    <p><code><%= servers %> server<%= servers == 1 ? "" : "s" %></code> / <code>max servers</code></p>
                    <progress value="50" max="100" style="width: 100%;"></progress>
                </div>
            </div>
        </div>
    </body>
</html>