<html>
    <head>
        <link rel="icon" type="image/png" href="<%= extra.faviconlink %>"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link href="/assets/default/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title><%= extra.servers.title.create %></title>
    </head>
    <body>
        <ul style="overflow: hidden;" class="ul">
            <li style="float:left; margin-top: 12px; margin-left: 10%;"><a href="/" style="font-family: 'Rubik', sans-serif; font-size: 25px"><%= extra.home.name %></a></li>
            <li style="float:right; margin-right: 20%" class="li">
                <a href="<%= userinfo ? "/logout" : "/login" %>"><i class="fa fa-<%= userinfo ? "sign-out": "fw fa-user" %>" style="color: gray; margin-top: 10px;"></i></a>
            </li>
        </ul>
        <button style="margin-left: 5%; margin-top: 50px;" class="button" onclick="window.location.href = '/dashboard'">Back</button>
        <h2 style="margin-left: 5%; margin-top: 50px;">Servers</h2>
        <button class="button" style="margin-left: 5%; width: 80%;" onclick="window.location.href='/servers'">Server List</button>
        <br><br>
        <div style="width: 80%; margin-left: 5%;"><br>
            <h3 style="margin-left: 5%;">Create a Server</h3>
            <p style="margin-left: 5%;">Name: <input id="name"></p>
            <p style="margin-left: 5%;">Egg:&nbsp;&nbsp;&nbsp;<select class="select-selected" id="egg">
                <option value="paper">Paper</option>
                <option value="test">test</option>
            </select></p>
            <p style="margin-left: 5%;">RAM:&nbsp;&nbsp;&nbsp;<input id="ram"></p>
            <p style="margin-left: 5%;">Disk:&nbsp;&nbsp;&nbsp;<input id="disk"></p>
            <p style="margin-left: 5%;">CPU:&nbsp;&nbsp;&nbsp;<input id="cpu"></p>
            <center>
                <button onclick="submitForm()" class="button" style="background-color: #33404D;">Create</button>
            </center>
        <br></div>
        <script>
            async function submitForm() {
                console.log("test")
            };
        </script>
    </body>
</html>